services:
  db:
    image: postgres:latest
    container_name: postgres_toncommerce
    restart: always
    environment:
      POSTGRES_DB: toncommerce
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: